image: devkitpro/devkita64:latest

cache:
  paths:
  - vba-next/

stages:
  - build
  - package

build:
  stage: build
  before_script:
    - dkp-pacman -S --noconfirm devkitARM
    - export DEVKITPRO=/opt/devkitpro
    - export DEVKITARM=/opt/devkitpro/devkitARM
  script:
    - rm -rf vba-next
    - mkdir vba-next
    - cp assets/overlay.cfg vba-next/overlay.cfg
    - cp assets/overlay.png vba-next/overlay.png
    - make platform=switch -j20
    - git clone -b feature/threading https://git.m4xw.net/Switch/RetroArch/RetroArch.git --depth=1
    - cp vba_next_libretro_switch.a RetroArch/libretro_switch.a 
    - cp assets/icon.jpg RetroArch/icon.jpg
    - cd RetroArch/
    - mkdir romfs
    - APP_TITLE="VBA-Next libnx" make -f Makefile.switch -j15
    - cp retroarch_switch.nro ../vba-next/vba-next.nro
    - cp retroarch.cfg ../vba-next/retroarch.cfg

package:
  stage: package
  script:
    - echo 'creating zip'
  when: on_success
  artifacts:
    name: vba-next
    paths:
    - vba-next/
  only:
  - master
  - feature/threading 

