image: starcarr/libnx:latest

variables:
  PACKAGE_FOLDER: "vba-next"
  LIBRARY_NAME: "vba_next_libretro_switch.a"
  NRO_NAME: "vba-next.nro"
  APP_TITLE: "VBA-Next libnx"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
  - $PACKAGE_FOLDER

stages:
  - build
  - package

build:
  stage: build
  script:
    - rm -rf $PACKAGE_FOLDER
    - mkdir $PACKAGE_FOLDER
    - cp assets/overlay.cfg $PACKAGE_FOLDER/overlay.cfg
    - cp assets/overlay.png $PACKAGE_FOLDER/overlay.png
    - make platform=switch -j20
    - git clone -b feature/threading https://git.m4xw.net/Switch/RetroArch/RetroArch.git --depth=1
    - cp $LIBRARY_NAME RetroArch/libretro_switch.a 
    - cp assets/icon.jpg RetroArch/icon.jpg
    - cd RetroArch/ 
    - mkdir romfs
    - APP_TITLE="$APP_TITLE" make -f Makefile.switch -j20
    - cp retroarch_switch.nro ../$PACKAGE_FOLDER/$NRO_NAME
#    - cp retroarch.cfg ../$PACKAGE_FOLDER/retroarch.cfg

package:
  stage: package
  script:
    - echo 'creating zip'
  when: on_success
  artifacts:
    name: $PACKAGE_FOLDER
    paths:
    - $PACKAGE_FOLDER
  only:
  - master
